<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title - My Telerik MVC Application</title>

    	<link href="https://cdn.kendostatic.com/2022.2.621/styles/kendo.default-ocean-blue.min.css" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script src="https://cdn.kendostatic.com/2022.2.621/js/jquery.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.2.621/js/jszip.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.2.621/js/kendo.all.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.2.621/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>
